<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">MicroBlog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    {# ログインしているとき #}
                    <li><a href="#">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">ログアウト</a></li>
                {% else %}
                    {# ログインしていない時#}
                    {% if "logout" in request.path %}
                        <li><a href="{% url 'login' %}">ログイン</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}">ログイン</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
